<h1>Add User <%= @project.name %></h1>
<div class="d-flex align-items-center">
  <h3>Team: </h3>
  <p class="m-0 ml-2">
    <% if @team == nil %>
      No users assigned to this team
    <% else %>
      <% @team.each do |user| %>
      <%= user.name %> | 
      <%end%>
    <% end %>
  </p>
</div>


<%= form_with url: add_user_to_project_project_path(@project), method: :post do |user| %>
  <div>
      <%= user.label :user_id, style: "display: block" %>
      <%= user.collection_select :user_id, @users, :id, :name %>
  </div>

  <div>

    <%= user.submit "Add User to Project", class: "btn btn-primary m-2" %>
  </div>
<% end %>
