<h1>Add User <%= @project.name %></h1>

<h2>Team: </h2>
    <% if @team == nil %>
        <p>No users assigned to this team</p>
    <% else %>
        <% @team.each do |user| %>
        <%= user.name %> | 
        <%end%>
    <% end %>


<%= form_with url: add_user_to_project_project_path(@project), method: :post do |user| %>
  <div>
      <%= user.label :user_id, style: "display: block" %>
      <%= user.collection_select :user_id, @users, :id, :name %>
  </div>

  <div>

    <%= user.submit "Add User to Project", class: "btn btn-primary m-2" %>
  </div>
<% end %>
