<h1>Create a new Project</h1>

<%= form_with(model: @projects, url: project_index_path, method: :post) do |project| %>
  <div>
    <%= project.label :name, style: "display: block" %>
    <%= project.text_field :name %>
  </div>

  <div>
    <%= project.label :description, style: "display: block" %>
    <%= project.text_field :description %>
  </div>

  <div>
    <%= project.submit "Create project", class: "btn btn-primary m-2" %>
  </div>

<% end %>
