<h1>Edit Ticket</h1>

<%= form_with(model: @ticket, url: project_ticket_path(project_id: @project), method: :patch) do |t| %>
    <h3>For: <%= @project.name %></h3>

    <div>
      <p>Creator: <%= @current_user.name %></p>
    </div>

    <div>
      <%= t.hidden_field :creator_id, value: current_user.id %> 
    </div>
    
    <div>
      <%= t.label :title, style: "display: block" %>
      <%= t.text_field :title %>
    </div>
    <div>
      <%= t.label :deadline, style: "display: block" %>
      <%= t.date_field :deadline %>
    </div>


    <div>
      <%= t.label :ticket_type, style: "display: block" %>
      <%= t.select :ticket_type, Ticket::TICKET_TYPES, { id: 'ticket_type_select'}%>
    </div>

    <div>
      <%= t.label :status, style: "display: block" %>
      <%= t.select :status, @statuses %>
    </div>

    <div>
        <%= t.label :developer_id, style: "display: block" %>
        <%= t.collection_select :developer_id, @users, :id, :name %>
    </div>

    <div class="field">
      <%= t.label :image, 'Upload Screenshot' %>
      <%= t.file_field :image %>
    </div>

    <% if @ticket.image.attached? %>
      <%= image_tag @ticket.image %>
    <% else %>
      <p>No image available.</p>
    <% end %>

    

    
    <div>
      <%= t.submit %>
    </div>
<% end %>