<h1>Tickets</h1>
 
<%# <a href="portfolios/new">Create New Portfolio Item</a> %>

<%= link_to "Create New Ticket", project_ticket_index_path%>
<br>

<% @tickets.each do |ticket| %>
    <p><%= link_to ticket.title, project_ticket_path(id: ticket.id) %></p>

    <p><%= ticket.description %></p>
    <p><%= ticket.deadline %></p>
    <p><%= ticket.ticket_type %></p>
    <p><%= ticket.status %></p>
    <p><%= ticket.creator.name %></p>
    <p><%= ticket.developer.name %></p>
    <p><%= ticket.project.name %></p>

    <%#= image_tag ticket.thumb_image ? ticket.thumb_image : "https://www.placeholder.com/100x100" %>
    
    <%= button_to "Delete", project_ticket_path(id: ticket), method: :delete, data: { confirm: "Are you sure about that?", turbo_confirm: "Are you sure about that?" }, class: "btn btn-primary my-2 my-sm-0" %>
<% end %>