<h1>Create a new Ticket</h1>
<p>For: <%= @project.name %></p>

<%= form_with(model: @tickets, url: project_ticket_index_path(project_id: @project), method: :post) do |ticket| %>
  
  <div>
    <p>Creator: <%= @current_user.name %></p>
  </div>

   <div>
    <%= ticket.hidden_field :creator_id, value: current_user.id %> 
  </div>


  <div>
    <%= ticket.label :title, style: "display: block" %>
    <%= ticket.text_field :title %>
  </div>

  <div>
    <%= ticket.label :description, style: "display: block" %>
    <%= ticket.text_field :description %>
  </div>

  <div>
    <%= ticket.label :deadline, style: "display: block" %>
    <%= ticket.date_field :deadline %>
  </div>

  <div>
      <%= ticket.label :ticket_type, style: "display: block" %>
      <%= ticket.select :ticket_type, Ticket::TICKET_TYPES, { id: 'ticket_type_select' } %>
  </div>

  <div>
      <%= ticket.label :status, style: "display: block" %>
      <%= ticket.select :status, @statuses, { id: 'status_select' } %>
  </div>

  <div class="field">
    <%= ticket.label :image, 'Upload Screenshot' %>
    <%= ticket.file_field :image %>
  </div>

  <div>
      <%= ticket.label :developer_id, style: "display: block" %>
      <%= ticket.collection_select :developer_id, @users, :id, :name %>
  </div>

  <div>
    <%= ticket.submit "Create Ticket", class: "btn btn-primary m-2" %>
  </div>

<% end %>
